<h2>Ajouter un train</h2>

<form (ngSubmit)="submitForm()" #trainForm="ngForm">
    <label>
        Numéro :
        <input required [(ngModel)]="train.number" name="number" placeholder="Numéro" />
    </label>

    <label>
        Destination :
        <input required type="text" [(ngModel)]="train.destination" name="destination" required />
    </label>

    <label>
        Heure de départ :
        <input required type="time" [(ngModel)]="train.departureTime" name="departureTime" required />
    </label>

    <label>
        Statut :
        <select [(ngModel)]="train.status" name="status" required>
            <option value="à quai">à quai</option>
            <option value="en circulation">en circulation</option>
            <option value="en retard">en retard</option>
        </select>
    </label>

    <label>
        Wagons :
        <input required type="number" [(ngModel)]="train.wagons" name="wagons" min="1" required />
    </label>

    <button type="submit">Ajouter</button>
</form>