<h2>Ajouter un train</h2>

<form (ngSubmit)="submitForm()" #trainForm="ngForm">
    <label>
        Numéro :
        <input type="text" [(ngModel)]="train.number" name="number" required />
    </label>

    <label>
        Destination :
        <input type="text" [(ngModel)]="train.destination" name="destination" required />
    </label>

    <label>
        Heure de départ :
        <input type="time" [(ngModel)]="train.departureTime" name="departureTime" required />
    </label>

    <label>
        Statut :
        <select [(ngModel)]="train.status" name="status" required>
            <option>À quai</option>
            <option>En circulation</option>
            <option>En retard</option>
        </select>
    </label>

    <label>
        Wagons :
        <input type="number" [(ngModel)]="train.wagons" name="wagons" min="1" required />
    </label>

    <button type="submit">Ajouter</button>
</form>